<% for(var i=0; i<result.length; i++) { %>
  <div id="post_<%= result[i].id %>">
    <a call="post.destroy('<%= result[i].id %>')" class="icon-remove"><% %></a>
    <a call="post.get('<%= result[i].id %>')"><%= result[i].title %></a>
  </div>
<% } %>